.salesPersonForm {
    margin: auto;
    width: 900px;
}

.salesPersonForm input[type="text"] {
    width: 350px;
}

#description {
    height: 136px;
}

.listSalesPeople {
    margin-top: 30px;
}

.error {
    color: red;
}